@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Gabarito&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
/* 
font-family: 'Amatic SC', sans-serif; 
font-family: 'Lobster', sans-serif;
font-family: 'Onest', sans-serif;
font-family: 'Oxygen', sans-serif;
*/

body{
    font-family: 'Oxygen', sans-serif;
    margin: 0;
    padding: 0;
}


.wraper{
    display: flex;
    align-items: center;
    position: relative;
    padding-top: 45px;
    justify-content: center;
    justify-content: space-around; 
    padding-left: 120px;
    
}
.wrapper{
    display: flex;
    justify-content: center;
    
}

.header_logos {
    font-size: 18px;
    
    color: black;
    padding-left: 15px;
    text-decoration: none;
}
.header_logos:hover, .header_logos:focus, .header_logos:active{
    color: blue;
    transition: all 1s ease;
    
}
.icon_nav {
    position: relative;
    justify-content: center;
    
}
.icon_logos{
    padding-left: 25px;
    padding-right: 25px;
    justify-content: center;
    margin: auto;
}
/* ГОЛОВА КОНЕЦ!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.wrapper_intro{
    display: flex;
    justify-content: center;
    padding-top: 150px;
    gap: 50px;
    
}
.intro_tittle{
    padding-top: 100px;
    flex-direction: column;
}
.inro_tittleF{
    font-size: 50px;
    letter-spacing: 3px;
    margin: 0;
    
}
.inro_tittleS{
    font-family: 'Onest', sans-serif;
    font-size: 72px;
    padding-bottom: -10px;
    background-color: rgba(95, 158, 160, 0.048);
    margin: 0%;
}
.inro_tittleT{
    position: relative;
    font-size: 20px;
    word-spacing: 8px;
}
.but_buy{
    display: flex;
}
.icon:hover{
    transform: scale(50%);
    transition: all 1s ease;
}
.tittle_seil{
    padding-top: 20px;
    padding-left: 50px;
    font-size: 20px;
    
}
.seilll{
    padding-left: 50px;
    opacity: .75;
}
/* ПАНЕЛИ НАЧАЛО!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.company{
    display: flex;
    position: absolute;
    padding-top: 650px;
    padding-bottom: 100px;
    
}
.con_company{
    background-color: white;
    box-shadow: 10px 10px 100px black;
    
}
.con_nav{
    margin: 5.5em;
    margin-right: 100px;
}
.icon{
    padding-left: 100px;
}
/* ВТОРАЯ ПАНЕЛЬ!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.companyV{
    display: flex;
    position: absolute;
    padding-top: 1000px;
    padding-bottom: 100px;
    
}
.con_companyV{
    display: flex;
    
}
.ivonV{
    box-shadow: 100px 10px 100px black;
    position: relative;
}
.con_tittle{
    padding-top: 60px;
    margin-left: 0px;
    padding-bottom: 5px;
}
.con_navV{
    padding-left: 50px;
    display: flex;
    gap: 40px;
    margin: 10em;
    margin-left: 250px;
    margin-right: 250px;
    
   
}
.inro_tittleF{
    color: black;
    font-size: 32px;
    margin: 0;
}
.inro_navS{
    padding-bottom: 15px;
    font-size: 18px;
}
.tittle_seil_nav{
    padding-bottom: 15px;
    font-size: 18px;
}
/* Третья ПАНЕЛЬ!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.gradient{
    display: flex;
    position: absolute;
    padding-top: 1750px;
    padding-bottom: 100px;
    gap: 90px;
    
}
.wraper_gradient{
    background-image: linear-gradient(rgba(0, 0, 255, 0.466), rgba(128, 0, 128, 0.5) );
    display: flex;
    flex-direction: row-reverse;
   
}
.pic_grain{
    padding-left: 300px;
    position: relative;
    padding-top: 20px;
    margin: 0%;
}
.con_gradint{
    display: flex;
    position: absolute;
    padding-top: 100px;
    padding-right: 250px;
    flex-direction: column;
}
.gradint_tittleF{
    font-size: 20px;
    letter-spacing: 3px;
    color: aliceblue;
    margin: 0;
    padding-bottom: 10px;
}
.gradint_tittleS{
    margin: 0%;
    color: aliceblue;
    padding-bottom: 15px;
}
.gradint_tittleT{
    position: relative;
    font-size: 20px;
    word-spacing: 8px;
    letter-spacing: 3px;
    color: aliceblue;
    margin: 0;
}
/* Блок с девушкой!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.wraper_about{
    padding-top: 1700px;
    display: flex;
    justify-content: center;
    padding-bottom: 150px;
  
   
}
.title_rea{
    word-spacing: 5px;
    letter-spacing: 3px;
    margin: 0%;
}
.intro_tittleV{
    font-size: 40px;
    margin-top: 0%;
    margin-bottom: 50px;
}
.about_title{
    padding-left: 75px;
    padding-right: 75px;
}
.back_women{
    display: flex;
    border: 1px solid black;

    outline: 5px solid rgb(0, 34, 128);
    outline-offset: 10px;
}
hr {
    width: 50px;
    margin: 30px auto;
    border: 1px solid black;
  }
.listic{
    list-style-image: url('/img/Group\ 23.png');
}
  
.benefits-item {
   
    padding-top: 15px;
    padding-bottom: 15px;
}


/* НАЧАЛО МАГАЗИНА С ВИТРИНАМИ!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.magazin{
    display: flex;
    justify-content: center;
}
.header_magaz {
    font-size: 18px;
    color: black;
    padding-left: 15px;
    text-decoration: none;
    
}
.magazin_intro_v1{
    letter-spacing: 5px;
    display: flex;
    justify-content: center;
    margin: 0;
    top: 0;
}
.magazin_introV2{
    font-size: 48px;
    display: flex;
    justify-content: center;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 20px;
}
.magazin_intro{
    padding-bottom: 50px;
    margin: 0%;
}
.magazin_asorti{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    justify-content: center;
    padding-bottom: 150px;
}
.naw_intro{
    display: flex;
    justify-content: center;
    gap: 100px;
}
.header_magaz:hover, .header_magaz:focus, .header_magaz:active{
    color: brown;
    transition: all 0.5s ease;
}

/* Обработка товаров на витрине!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.nav_block{
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    gap: 60px;
}
.optoin_block{
    padding-top: 50px;

}
.tovar{
    display: grid;
    position: relative;
    justify-content: center;
    outline: 2px solid rgb(0, 0, 0);
    margin: 1.5em;
}
.intro_tovar{
    padding-left: 15px;
}
.mag_icon{
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 25px;
    outline: 1px solid rgb(0, 0, 0);
}
.mag_icon:hover{
    transform: scale(105%);
  
    transition: all 1s ease;
}
.block_sell{
    display: flex;
    
}
.block_list{
    padding-left: 25px;
   
}
.block_color{
    margin: 0%;
    display: flex;
    padding-top: 10px;
    padding-bottom: 25px;
    gap: 50px;
}
/* НОВЫЕ БРЕНДЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫ */
.brend{
    display: grid;
    justify-content: center;
    padding-bottom: 100px;
}
.brend_intro_v1{
    font-size: 20px;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    margin: 0;
    top: 0;
}
.brend_introV2{
    font-size: 52px;
    display: flex;
    justify-content: center;
    margin: 0;
    top: 0;
} 
.title1{
    font-size: 20px;
    display: flex;
    justify-content: center;
}
.title2{
    font-size: 20px;
    display: flex;
    justify-content: center;
}
.brend_intro{
    padding-bottom: 50px;
    
}
.brend_asorti{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    
    justify-self: flex-end;
    
}

/* Обработка товаров на витрине!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.nav_block_brend{
    padding-top: 175px;
    padding-bottom: 15px;
    display: flex;
    justify-self: flex-end;
    justify-content: end;
    gap: 70px;
    padding-left: 30px;
}
.optoin_block_brend{
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    justify-content: end;
    
    gap:100px;
    
}
.optoin_block_brend{
    opacity: .0;
}

.optoin_block_brend:hover,.optoin_block_brend:focus,.optoin_block_brend:active{
    transition: all 0.5s ease;
    opacity: 100%;
}
.tovar_brend{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto;
    justify-content: center;
    outline: 2px solid rgb(0, 0, 0);
    margin: 1.5em;
}

.mag_icon_brend{
    position: relative;
    padding-top: 35px;
  
}
.mag_icon_brend:hover{
    transform: scale(105%);
    transition: all 1s ease;
}
.block_sell_brend{
    display: flex;
    
}
.block_list_brend{
    padding-left: 25px;
   
}
.vizitback{
    background-color: rgba(0, 255, 255, 0.192);
    display: flex;
    justify-content: center;
    position: relative;
}
.tit_vizitF{
    padding-top: 87px;
    padding-right: 530px;
    padding-bottom: 87px;
}
.tit_vizitV{
    margin: 0%;
    word-spacing: 5px;
    letter-spacing: 2.5px;
}
.vizitV{
    margin: 0%;
}.imggggg{
    position: absolute;
}
.img_set{
    padding-top: 87px;
}
button{
    background-image: url(/img/Rectangle\ 51.png);
    border: 0;
    border-radius: 5px;
    background: #4676D7;
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
}
.text-field__icon {
    position: relative;
  }
  .text-field__icon::before {
    content: '';
    color: #bdbdbd;
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0.625rem;
    top: 50%;
    transform: translateY(-50%);
  }
  .text-field__icon .text-field__input {
    padding-left: 2rem;
  }
  /* email значок */
  .text-field__icon_email::before {
    content: '@';
  }
  /* иконка лупы */
  .text-field__icon_search::before {
    width: 1rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23bdbdbd' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
  }
.serch{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    
}
.title_logo{
    font-size: 10px;
    color: #ffffff;   
  
}

.main_footer{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: rgb(0, 7, 68);
}
.logo_foot{
    padding-top: 100px;
    display: grid;
    justify-content: center;
}
ul{
    font-size: 18px;
    display: grid;
    color: #bdbdbd;
    gap: 45px;
    list-style: none;
    padding-right: 10px;
}
.lists{
    display: flex;
    justify-content: left;
    padding-right: 100px;
}
.title_about_footer{
    justify-content: left;
    display: grid;
    color: #fff;
    gap: 15px;
}
.glob{
    color: #fff;
}